.menubar{
    text-align: center;
    margin: auto;
}
.button-menu{
    width: 1080px;
    margin: auto;
}
.button-01{
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 9px;
    margin: 2px;
}
.content-left{
    width: 40%;
    height: 1200px;
    margin-left: 370px;
    background-color: hwb(0 21% 75% / 0.144);
    float: left;
}
.content-right{
    width: 20%;
    height: 1200px;
    margin-right: 361px;
    background-color: hwb(0 21% 75% / 0.144);
    float: right;
}
.content-video-01{
    text-align: center;
    margin: 40px;
    letter-spacing: 35px;
}
.content-video-02{
    text-align: center;
    margin: 35px;
    letter-spacing: 35px;
}
.content-video-03{
    text-align: center;
    margin: 35px;
    letter-spacing: 35px;
}
.content-video-04{
    text-align: center;
    margin: 35px;
    letter-spacing: 35px;
}
.content-video-05{
    text-align: center;
    margin: 35px;
    letter-spacing: 35px;
}
.content-video-06{
    text-align: center;
    margin: 35px;
    letter-spacing: 35px;
}

